html{
	height: 100%
}
body {
  	font-family: "Trebuchet MS", Helvetica, sans-serif;
  	height: 100%
}
.container{
	width: 1024px;
	margin: 0 auto;
}
.fl-left{
	float: left;
}
.fl-right{
	float: right;
}
.start_page{;
	width: 100%;
	height: 100%;
	background-image: url('../img/main_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-left: 7px solid #E7E7E7;
	border-right: 7px solid #E7E7E7;
	position: absolute;
}
#start_menu_holder{
	height: 350px;
	width: 100%;
	background-color: white;
	margin-top: 220px;
}
.separator{
	width: 2px;
	height: 300px;
	background-color: #F2F2F2;
	margin-top: 30px;
}
.start_menu{

}
.start_menu_logo{
	width: 350px;
	height: 330px;
	margin: 0 80px; 
	float: left;
	border-top: 20px solid white;
	margin-top: 20px;
}
.start_sience{
	padding: 35px 60px;
	&:hover{
		border-top: 20px solid #911B4B;
	}
}
.start_sience h2{
	text-transform: uppercase;
	color: #C3005E;
	font-size: 25px;
	font-weight: bold;
}
.start_sience h2 span{
	color: #EB6913;
	font-weight: normal;
}
.start_sience_youth{
	padding: 35px 0px;
	&:hover{
		border-top: 20px solid #00A0B8;
	}
}
.start_sience_youth h2{
	text-transform: uppercase;
	color: #C3005E;
	font-size: 25px;
}