html{
	height: 100%

}
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
	min-width: 1024px;
	background: #E7E7E7;
}
#wrapper{ 
	min-width: 1024px;
}
#main_page{

}
.container{
	width: 1024px;
	min-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
.fl-left{
	float: left;
}
.fl-right{
	float: right;
}
.start_page{;
	width: 100%;
	height: 100%;
	background-image: url('../img/2x/main_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
.sof_page{
	background-image: url('../img/2x/bg.png');
	background-repeat: no-repeat;
	background-size: 1024px;
	background-position: top right;
}
.sof_page_youth{
	background-image: url('../img/2x/bg_youth.png')!important;
	background-position: top left!important;
}
#start_menu_holder{
	height: 350px;
	width: 100%;
	background-color: white;
	margin-top: 220px;
	border-top: 2px solid #5C133A;
	border-bottom: 2px solid #5C133A;
}
.separator{
	width: 2px;
	height: 300px;
	background-color: #F2F2F2;
	margin-top: 30px;
}
.start_menu{

}
.start_menu_logo{
	width: 350px;
	height: 330px;
	margin: 0 75px; 
	float: left;
	border-top: 20px solid white;
	margin-top: 20px;
	>img{
		height: 230px;
	}
}
.start_sience{
	padding: 35px 60px;
	@include transition(all 0.4s ease);
	&:hover{
		border-top: 20px solid #911B4B;
	}
}
.start_sience_youth{
	padding: 35px 0px;
	@include transition(all 0.4s ease);
	&:hover{
		border-top: 20px solid #00A0B8;
	}
}
#sof_page_holder{
	width: 100%;
	background-color: white;
	margin-top: 93px
}
#sof_page_menu{
	background-color: #911B4B;
}
.sof_menu_logo{
	background-image: url('../img/2x/logo_main_white.png');
	width: 245px;
	background-size: 110px;
}   
#sof_page_menu .sof_menu_logo_youth{
	background-image: url('../img/2x/logo_main_youth_white.png');
	background-size: 180px; 
	background-position: 50% 50%;
}
 .menu{
	overflow: hidden;
	>ul{
		height: 140px;
		>li{
			float: left;
			height: 140px;
			background-position: 20% 50%;
			background-repeat: no-repeat;
			>a{
				height: 140px;
				padding: 75px 80px 0 80px;
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				color: white;
				font-weight: bold;
				font-size: 16px;
				@include transition(all 0.4s ease);
			}
		}
	}
	&_item.menu_selected + li{
		background-image: none;
	}
}
.menu_border{
	background-image: url('../img/2x/menu_border.png');
	background-position: 0 50%!important;
	background-size: 3px 120px;
}
#sof_page_menu .menu_selected > a{
	background-color: white;
	color: #911B4B;
	border-top: 1px solid #911B4B;
	border-bottom: 1px solid #911B4B;
}
#sof_page_holder > .sof_page_menu_youth .menu_selected > a{
	color: #00A0B8;
	border-top: 1px solid #00A0B8;
	border-bottom: 1px solid #00A0B8;
}
.menu > ul > li:hover{

}
#top_bar{
	width: 985px;
	overflow: hidden;
	margin: 5px auto;
}
#sof_page_container {

	> .top_bar_youth{

		>#prev_page{
			>a{
				background-image: url('../img/2x/back_blue.png');
				color: #00A0B8;
				border: 2px solid #00A0B8;
			}
		}
	}
} 
#sof_page_menu .last_menu_item > a{
	padding: 59px 60px 0 60px;
}
#sof_page_holder > .sof_page_menu_youth{
	background-color: #00A0B8;
}
#prev_page{
	width: 222px;
	float: left;
	margin-right: 10px;
	>a{
		text-decoration: none;
		text-transform: uppercase;
		color: #911B4B;
		font-size: 16px;
		background-image: url('../img/2x/back_purple.png');
		background-size: 10px;
		background-repeat: no-repeat;
		background-position: 10px 50%;
		border: 2px solid #911B4B;
		padding: 5px 5px 5px 30px;
		display: block;
	}
}
#search{
	overflow: hidden;
	>input{
		width: 725px;
		height: 30px;
		border: 1px solid #A3A3A3;
		font-size: 16px;
		padding: 5px;
		float: left;
		outline: 0;
	}
	>button{
		height: 30px;
		width:30px;
		background-image: url('../img/2x/find.png');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: 50% 50%;
		border: 1px solid #A3A3A3;
		background-color: white;
		margin-left: -2px;
		outline: 0;
		cursor: pointer;
	}
}
#authors_list{
	padding-bottom: 50px;

	>li{
		width: 980px;
		height: 75px;
		min-width: 980px;
		border-bottom: 1px solid #868484;
		padding: 30px 10px 50px 5px;
		overflow: hidden;
		margin: 0 auto;
		>.author_block{
			width: 240px;
			float: left;

			>a{
				color: #911B4B;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 14px;
			}
			>p{
				width: 190px;
				color: #413D3B;
				font-size: 13px;
				font-style: italic;
				margin-top: 3px;
			}
		}
		>.report_title{
			font-size: 15px;
			>.report_section{
				width: 185px;
				height: 37px;
				overflow: hidden;
				color: #413D3B;
				font-weight: bold;
				font-size: 14px;
				float: left;
				line-height: 18px;
				margin-right: 20px;
			}
			>span{
				color: #858383;
				line-height: 19px;
				display: inline-block;
				height: 40px;
				overflow: hidden;
				width: 515px;
			}
		}
	}
}
.author_block_youth{
	>a{
		color: #004F90!important;
	}
}
#report_holder{
	margin-top:10px;
	overflow: hidden;
}
#report_holder{
	.report_info_youth{
		>.section{
			background-color: #005091;
			color: white;
		}
		div{
			color: #004F90;
		}
	}
}
#report_info{
	width: 315px;
	float: left;
	margin-left: 20px;
	>.section{
		color: white;
		font-size: 18px;
		font-weight: bold;
		background-color: #C3005E;
		padding: 15px;

		>span{
			font-size: 16px;
			font-weight: normal;
			color: white;
			line-height: 0;
		}
	}
	div{
		color: #911B4B;
		padding: 15px 15px 0 15px;
		font-weight: bold;
		font-size: 18px;
		>span{
			font-size: 16px;
			color: #858383;
			font-weight: normal;
			line-height: 20px;
		}
	}
}
#report{
	width: 675px;
	border-left: 1px dotted #8D8B8B;
	padding-left: 15px;
	padding-bottom: 20px;
	margin-left: 350px;
}
#report{
	.report_brief_youth{
		background-color: #A5C300;
	}
}
#report_brief{
	background-color: #5D0F3A;
	color: white;
	padding-bottom: 15px;
	>div{
		padding: 15px 30px 0 15px;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		>span{
			text-transform: none;
			font-weight: normal;
			font-size: 16px;
		}
	}
}
#talking_points{
	font-size: 18px;
	color: #911B4B;
	padding: 15px 35px 15px 15px;
	font-weight: bold;
	>p{
		font-size: 16px;
		font-weight: normal;
		color: #858383;
		line-height: 22px;
		margin-top: 5px;
		padding-bottom: 20px;
	}
}
.talking_points_youth{
	color: #004F90!important;
}
.print{
	height: 54px;
	width: 50px;
	margin-left: 15px;
	cursor: pointer;
	background-image: url('../img/2x/print.png');
	background-size: 48px;
	background-repeat:  no-repeat;
	background-position: 50% 50%;
}
#sections_holder, #SO_holder{
	margin-top: 20px;
	padding-bottom: 20px;
}
.section_title{
	border-bottom: 1px solid #C3005E;
	width: 985px;
	margin: 0 auto;
	>a{
		text-decoration: none;
		color: #413D3B;
		font-weight: bold;
		display: block;
		padding: 15px;
		@include transition(all 0.4s ease);

		&:hover{
			color: white;
			background-color: #C3005E;
		}
	}
}
#sections_holder, #SO_holder{
	.section_title_youth{
		border-bottom: 1px solid #005091;
		a{
			@include transition(all 0.4s ease);
			&:hover{
				color: white;
				background-color: #A5C300;
			}
		}
	}
}
#section_header{
	width: 985px;
	padding: 10px;
	background-color: #C3005E;
	margin: 20px auto 0 auto;
	color: white;
	text-transform: uppercase;
}
#section_header_youth{
	width: 985px;
	padding: 10px;
	background-color: #A5C300;
	margin: 20px auto 0 auto;
	color: white;
	text-transform: uppercase;
}
ol{
	list-style: decimal inside none;
	font-size: 16px;
	font-weight: normal;
	color: #858383;
	line-height: 22px;
}

@media print{
    #sof_page_menu, #top_bar, .print {
       	display: none;
    }
    #sof_page_container, #sof_page_holder, #wrapper, #report_holder, #report{
    	height: 100%;
    }
    #sof_page_holder{
    	margin-top: 240px;
    }
    body > .sof_page {
    	background-image: url("../img/print.png");
    	background-color: white;
    	background-size: 1024px;
    	background-position: 50% 0;
    }
    body > .sof_page_youth {
    	background-image: url("../img/print_youth.png")!important;
    	background-color: white;
    	background-size: 1024px;
    	background-position: 50% 0;
    }
}