---
layout: no-index
title: Mathematics
page: form
---

<div id="section_header">SECTION: {{page.title}}</div>


<ul id="authors_list">

	{% for Poster in site.reports %}

    {% if Poster.section contains page.title %}
	<li>
		<div class="author_block">
			<a href="..{{Poster.url}}">• {{Poster.speaker}}</a>
			<p>{{Poster.position}}</p>
		</div>
		<div class="report_title">
			<p class="report_section">{{Poster.section}}</p>
			<span>«{{Poster.title}}»</span>
		</div>
	</li>

    {% endif %}
     
	{% endfor %}
	
</ul>