---

layout: no-index-youth
title: Lomonosov Moscow State University, Moscow, Russia, koshurnikov@msu-geophysics.ru, V.I. Il’ichev Pacific Oceanological Institute, Far Eastern Branch of the Russian Academy of Sciences, Vladivostok, Russia, National Research Tomsk Polytechnic University, Russia, International Arctic Research Center (IARC), University of Alaska, Fairbanks, USA

page: form
---
<div id="section_header_youth">SCIENTIFIC ORGANISATION: {{page.title}}</div>
<ul id="authors_list">
	{% for Poster in site.reports_youth %}
    {% if Poster.organization contains page.title %}
	<li>
		<div class="author_block author_block_youth">
			<a href="..{{Poster.url}}">• {{Poster.speaker}}</a>
			<p>{{Poster.position}}</p>
		</div>
		<div class="report_title">
			<p class="report_section">{{Poster.section}}</p>
			<span>«{{Poster.title}}»</span>
		</div>
	</li>
    {% endif %}
	{% endfor %}