---

layout: no-index-youth
title: National Research Nuclear University (Moscow Engineering Physics Institute), Russia, Universite de Reims Champagne-Ardenne, France

page: form
---
<div id="section_header_youth">SCIENTIFIC ORGANISATION: {{page.title}}</div>
<ul id="authors_list">
	{% for Poster in site.reports_youth %}
    {% if Poster.organization contains page.title %}
	<li>
		<div class="author_block author_block_youth">
			<a href="..{{Poster.url}}">• {{Poster.speaker}}</a>
			<p>{{Poster.position}}</p>
		</div>
		<div class="report_title">
			<p class="report_section">{{Poster.section}}</p>
			<span>«{{Poster.title}}»</span>
		</div>
	</li>
    {% endif %}
	{% endfor %}