---

layout: no-index-youth
title: Max Planck Institute for Experimental Medicine, Department of Molecular Biology of Neuronal Signals, Gottingen, Germany;  Laboratoire de Recherche en Nanosciences (LRN)-EA4682, Universite de Reims Champagne-Ardenne, Reims, France; Laboratory of Nano-Bioengineering National Research Nuclear University "MEPhI", Moscow, Russian Federation, Clinic of Gynecology and Obstetrics, Caritas Hospital St. Josef, University of Regensburg, Germany, Institute of Molecular Medicine, Trinity College Dublin, Dublin, Ireland, INSERM Centre de Recherche en Cancerologie de Marseille, Inserm UMR 1068, Marseille, France, Department of Haematology and Medical Oncology, University Medical Center, Gottingen, Germany.

page: form
---
<div id="section_header_youth">SCIENTIFIC ORGANISATION: {{page.title}}</div>
<ul id="authors_list">
	{% for Poster in site.reports_youth %}
    {% if Poster.organization contains page.title %}
	<li>
		<div class="author_block author_block_youth">
			<a href="..{{Poster.url}}">• {{Poster.speaker}}</a>
			<p>{{Poster.position}}</p>
		</div>
		<div class="report_title">
			<p class="report_section">{{Poster.section}}</p>
			<span>«{{Poster.title}}»</span>
		</div>
	</li>
    {% endif %}
	{% endfor %}