---
layout: no-index
---


<div id="report_holder">
	<div id="report_info">
		<div class="section">SECTION: <span>{{page.section}}</span></div>
		<div>SCIENTIFIC ORGANIZATION:<br><span>{{page.buh}} </span></div>
		<div>REPORT FORM: <br><span>«{{page.havayi_ban}}»</span></div>
		<div>AUTHOR(S)<br> OF THE REPORT: <br><span>{{page.hamahexnikaner}}</span></div>
	</div>
	<div id="report">
		<div id="report_brief">
			<div>SPEAKER:<br><span>{{page.author}}</span></div>
			<div>REPORT TITLE:<br><span>{{page.title}}</span></div>
		</div>
		<div id="talking_points">
			TALKING POINTS:<br>
			{{page.content}}
		</div>
		<div class="print"></div>
	</div>
</div>
